.contianer{
    background-color: white;
    margin: 30px auto;
    border-radius:16px ;
    width: 800px;
    box-shadow: 0 0 10px rgba(65,50,100,0.08);
    padding: 30px;
    
    

}
body{
    font-family: "roboto",sans-serif;
    background-color: #E15598;
}
header{
    border-bottom:1px solid #f9f7f9 ;
    padding:0 0 30px 0;
}
.search-input{
    width: 80%;
    background-color: #E15598;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    outline: none;

}
.search-button{
    background-color:#B33791;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    
}
footer{
    border-top: 1px solid #f9f7f9;
    font-size: 14px;
    padding: 30px 0 0 0 ;
    text-align: center;
    color: rgba (0,0,0,0.5);
}

.main{
   display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.main .tempreature{
    padding-top: 5px;
    font-size: 18px;
    color:#E15598;
}
.main .text h1{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
     
}
.main .text p{
    font-size: 16px;
    color: rgba(39,33,66,0.4);
    line-height: 20px;
}
.text p .strong{
    color:#FC709B;
}
.tempreature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-forecast-date{
    text-align: center;
    color:rgba(39,33,66,0.4) ;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.weather-forecast-icon{
    font-size: 38px;
    text-align: center;
}
.weather-forecast-temp{
    text-align: center;
    color: #E15598;
    display: flex;
}